<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>SFG Brewery</title>
</head>
<body>
<h2 th:text="#{welcomemsg}">SFG Brewery Monolith</h2>
<div sec:authorize="!isAuthenticated()" class="row" style="margin-bottom: 15px">
	<div class="col-md-12">
		<!-- Si en la url existe el parámetro "logout", mostramos este div -->
		<div th:if="${param.logout}" class="alert alert-success">
			You Have Logged out
		</div>
		<!-- Mensaje de error en caso de credenciales inválidas o cuenta bloqueada -->
		<!-- Cuando el proceso de login es erróneo, Spring Segurity lanza una excepción de tipo "AuthenticationException" que es manejada por la clase de Spring Security
		     "SimpleUrlAuthenticationFailureHandler" creando el atributo "SPRING_SECURITY_LAST_EXCEPTION" en la sesión con el mensaje de esa excepción -->
		<div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
        	class="alert alert-danger">Error message...</div>
		<form  th:action="@{/login}" method="post">
			<label for="username">Username:</label>
			<!-- El atributo "autocomplete" puesto a "off" desactiva el autocompletado que proporcionan los navegadores -->
			<input type="text" id="username" name="username" autofocus autocomplete=off/>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" autocomplete=off/>
			<input type="submit" value="Log In"/>
			<label for="">Remember Me:</label>
			<!-- Cuando se hace login con este checkbox marcado, por defecto Spring Boot busca un checkbox seleccionado con id "remember-me" y,
			     si lo localiza, crea una cookie adicional a la cookie de la sesión "JSESSIONID" en el navegador con el nombre "remember-me" -->
			<input type="checkbox" id="remember-me" name="remember-me"/>
		</form>
	</div>
</div>
<div sec:authorize="isAuthenticated()" class="row" style="margin-bottom: 40px">
	<div class="col-md-12">
		<p  th:text="'Wellcome: ' + ${#authentication?.principal?.username}"></p>
		<p>
			<a th:href="@{/logout}">Logout</a>
		</p>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="../static/resources/images/brewery.png" th:src="@{/resources/images/brewery.png}"/>
    </div>
</div>
</body>
</html>
